*.mat
*.m~
*.asv
.ipynb_checkpoints
*.pyc
*__pycache__*
*.c~
*.tif
*.tiff
mcc/linux/*
mcc/linux_with_jvm/*
mcc/mac/*
mcc/windows/*
mcc/windows_with_jvm/*
tests/data/Inputs/sld/*.tif
tests/data/Inputs/sld/*/
tests/data/Inputs/sldy/*.tif
tests/data/Inputs/sldy/*/
#do not ignore .dir folders
!tests/data/Inputs/sldy/*.dir/
C:\\Java_SBReadFileJNI_openFile.txt
tests/C:\\Java_SBReadFileJNI_openFile.txt
